# =====================================
#  Arquivo .gitignore principal
#  Projeto: knowledge_graph
# =====================================

# --- Arquivos Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Ambientes virtuais ---
venv/
.venv/
knowledgegraphpython312/
knowledge_graph/knowledge_graph/

# --- Logs e configs ---
*.log
*.env
.env/
.DS_Store

# --- Cache e temporários ---
.ipynb_checkpoints/
*.sqlite3
*.db
*.tmp

# --- VSCode, PyCharm, etc ---
.vscode/
.idea/

# --- Arquivos de build ---
dist/
build/
*.egg-info/
